# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VS Code files
.vscode

# Ignore Zeit Online puzzles
src/test/resources/zeitOnlinePuzzles.json
